%h2= t(:category)
%table
  %tr
    %th= t(:name)
    %th= t(:price)
    %th
  - @result.items.each do |item|
    %tr
      %td
      %a{href: '#'}
        = item.name
      %td= item.price
      %td.js-add=t(:add)